<div class="col resume-box">
    <i class="fa fa-commenting-o fa-4x fa-pull-right icon-blue"></i>
    <h2>Who am I ?</h2>
    <p>Hi, my name is Gil, and I'm a developer and SEO.</p>
    <p>During the last few years, I've focused on backend web-developing; I enjoy creating simple to use interfaces that are deceptively simple solutions to complicated interactions.</p>
    <p>I also enjoy showing massive amounts of data in ways that are easy for the user to assimilate, be it in the form of charts, or data-to-text format.</p>
    <p>I've worked with Ajaxified CMS's before it was cool, done 360 degrees virtual shows in Flash, scraped copious amounts of data from multiple search engines, stock managing apps, and local websites in WordPress.</p>
    <p>My favorite coding language is by far PHP, but I'm recently trying to pick up Rails.My prefered JavaScript library was Angular, but I'm migrating to Vue as it's becomming the standard. I'm telling you this so that you know that despite having over 18 years of experience coding, I'm still re-inventing my skillset, and finding better ways of doing my job.</p>
</div>

<div class="col resume-box">

    <i class="fa fa-code fa-4x fa-pull-right icon-blue"></i>
    <h2>Programming</h2>

    <div class="skill">
      <span class="skill-name">PHP</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
      </div>
    </div>
 
    <p>I've completed hundreds of projects in PHP, varying from simple local sites, to stock management and CMS's. I've mainly focused in backend areas / SaaS in the last few years but I'm fully capable of doing front-end developing as well although my design skills aren't the strongest.</p>

    <div class="skill">
      <span class="skill-name">JavaScript</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-gray"></div>
      </div>
    </div>

    <p>Nowadays JavaScript is a must on any project, since people expect good user experience and Ajax really streamlines the UX. From table sorting and filtering to more advanced multi panel GUI's it's a must. I've dabble with Node and Electron as well, but I'm not proficent enough with them to list them as skill.</p>

    <div class="skill">
      <span class="skill-name">Ruby on Rails</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-gray"></div>
        <div class="skill-rate-cell skill-gray"></div>
        <div class="skill-rate-cell skill-gray"></div>
      </div>
    </div>

    <p>As for Ruby on Rails it's a new language that I'm learning currently and developing smaller websites in, although not as confortable with it as I am with PHP, I find that it's a great language to get a project off the ground very rapidly due to the inbuilt generator and dozen of existing gems.</p>

</div>

<div class="col resume-box">

    <i class="fa fa-code-fork fa-4x fa-pull-right icon-blue"></i>
    <h2>PHP Frameworks</h2>

    <div class="skill">
      <span class="skill-name">Laravel</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
      </div>
    </div>
    
    <p>Laravel is my framework of choice for any bigger and complex projects, it's a mature PHP framework, and since I've worked with MVC frameworks for many years since I adopted CodeIgniter I feel very confortable with all it's facets.</p>

    <div class="skill">
      <span class="skill-name">WordPress</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-gray"></div>
      </div>
    </div>

    <p>WordPress has been part of my skillset for a long time as well, I've done a couple of commercial plugins, know my way around themes and custom admin panels.</p>

    <div class="skill">
      <span class="skill-name">CodeIgniter</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-gray"></div>
      </div>
    </div>

    <p>CodeIgniter was my framework of choice pre Laravel, and I still have a few projects on it.</p>

</div>

<div class="col resume-box">

    <i class="fa fa-file-code-o fa-4x fa-pull-right icon-blue"></i>
    <h2>JavaScript Skills</h2>

    <div class="skill">
      <span class="skill-name">Angular 1.x</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
      </div>
    </div>
    
    <p>I've developed a lot of my commercial projects on Angular 1.x, so I've done several complex multi-screen GUI's using it and I feel rather confortable using it.</p>

    <div class="skill">
      <span class="skill-name">jQuery</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-gray"></div>
      </div>
    </div>

    <p>jQuery is a must in every developers arsenal as so many plugins and code is based on it, and I definitely feel confortable using it.</p>

    <div class="skill">
      <span class="skill-name">Vue</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-green"></div>
        <div class="skill-rate-cell skill-gray"></div>
        <div class="skill-rate-cell skill-gray"></div>
      </div>
    </div>

    <p>Vue is my latest adoption, with Laravel and other frameworks adopting it as the de-facto JavaScript framework, I've started migrating my efforts into learning it thouroughly.</p>

</div>

<div class="col resume-box">

    <i class="fa fa-link fa-4x fa-pull-right icon-orange"></i>
    <h2>SEO Skills</h2>

    
    <div class="skill">
      <span class="skill-name">Keyword Research</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
      </div>
    </div>

    <p>I've always considered myself more than capable at keyword research. It has always been one of my favorite subjects in SEO, to properly identify what keywords to attack in order to get results in the most time and resource effective way.</p>
    
    <div class="skill">
      <span class="skill-name">On Page</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-gray"></div>
      </div>
    </div>

    <p>While not being a master of on page I'm confortable enough optimizing pages. I believe that a strong on page is definitely a core aspect of any SEO campaign as many of the lower competition keywords can be dominated by these two factors alone. I keep up on on page tactics constantly refresh my knowledge of on page be it by buying courses or reading up on forums about it.</p>
     
    <div class="skill">
      <span class="skill-name">Off Page</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-gray"></div>
      </div>
    </div>

  <p>Off Page, or backlinking is the missing ingredient for thougher and more long term campaigns. Building social links, outreaching to relevant sources, or simply buying backlinks is no mistery for me.</p>
</div>

<div class="col resume-box">

    <i class="fa fa-search fa-4x fa-pull-right icon-orange"></i>
    <h2>SEO Tools</h2>

    
    <div class="skill">
      <span class="skill-name">AHrefs / SemRush / Backlink & Serps Analysis</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
      </div>
    </div>

    <p>AHrefs and SemRush are two of the SEO tools that I can not live without. Thorough SERP analysis is core for keyword research and even propper on page and these two tools help out immensely with that. They also make the outreach and link-building an easier process, although a lot people block their PBNs nowadays.</p>
    
    <div class="skill">
      <span class="skill-name">Keyword Planner / Keyword Discovery Tools</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
      </div>
    </div>

    <p>Keyword Planner, along with AHrefs and SemRush are my choices to find seed keywords, although I do use other techniques to find even more, these are the core of any keyword research.</p>
    <p>Screaming Frog is and has been for a while my favorite tool to perform any website health audit.</p>
    <div class="skill">
      <span class="skill-name">Screaming Frog / Site Audit</span>
      <div class="skill-bar">
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
        <div class="skill-rate-cell skill-orange"></div>
      </div>
    </div>

</div>